body {
    background-color: rgb(238, 248, 255);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/* hoofd balk */

#balk {
    background-image: linear-gradient(to right, #8fc4fe, #6eadf0, #337cca);
    position: absolute;
    margin-top: -10px;
    width: 101%;
    height: 200px;
    right: 1px;
}

.balkBtn {
    background-color: white;
    position: absolute;
    width: 180px;
    height: 90px;
    right: 100px;
    margin-top: 55px;
    border-radius: 20px;
    font-size: 23px;
    --fa-animation-duration: 0s;
} .balkBtn:hover {
    --fa-animation-duration: 0.90s;
    transition: 0.7s;
    scale: 1.2;
}

#Btn1 {
    position: absolute;
    right: 650px;
}

#Btn2 {
    position: absolute;
    right: 440px;
}

#Btn3 {
    position: absolute;
    right: 230px;
}

#Btn4 {
    position: absolute;
    right: 20px;
}

#logo {
    position: absolute;
    width: 650px;
    height: auto;
    margin: 61.719px;
    margin-left: 2%;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-size: large;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

#tableDate {
    width: 180px;
}

#list {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 375px;
    left: 100px;
    padding: 20px;
    width: 1300px;
    height: fit-content;
}

#listInsert {
    position: absolute;
    top: 300px;
    left: 350px;
}  

#listInfo {
    width: 450px;
    font-size: 15px;
}

#listPrice {
    width: 200px;
    font-size: 15px;
}

#listDrop {
    font-size: 15px;
}

#listDesc {
    width: 600px;
    font-size: 15px;
}

#listBtn {
    font-size: 15px;
}

